{% load static %}
<html>
<head>
<title>Django blog</title>
<meta name="viewport" content="width=device-width,
initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/..." rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesh\
eet">
<link href="{% static 'css/base.css' %}" rel="stylesheet"s>
</head>
<body>
<div>
<header>
<div class="nav-left">
<h1><a href="{% url 'home' %}">Django blog</a></h1>
</div>
<div class="nav-right">
<a href="{% url 'post_new' %}">+ New Blog Post</a>
</div>
</header>
{% if user.is_authenticated %}
<p>Hi {{ user.username }}!</p>
<p><a href="{% url 'logout' %}">Log out</a></p>
{% else %}
<p>You are not logged in.</p>
<a href="{% url 'login' %}">Log In</a>
<a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% block content %}
{% endblock content %}
</div>

<script src="https://code.jquery.com/..."></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js..."></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/..."></script>
</body>
</html>